header{
    background-color: #50A780;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

header div input[type='image'],
header form input[type='image']{
    height: 50px;
    width: 50px;
}

header div button{
    border-radius: 200px;
    background-color: #fff;
    border-style: none;
}

.burguer-btn input{
    border: none;
    filter: invert(100%);
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0%;
}

.search-field{
    background: #fff;
    border-style: solid;
    border-color: #fff;
    border-radius: 200px 0 0 200px;
    height: 50px;
}

.search-submit{
    background: #fff;
    border-style: solid;
    border-color: #fff;
    border-radius: 0 200px 200px 0;
    height: 50px;
}

.access{
    display: flex;
    justify-content: center;
}

.access button{
    width: 100px;
    height: 50px;
    margin: 0% 3%;
}
