main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 2% 0%;
}

.logo img{
    align-self: center;
    width: 60px;
    height: 60px;
}

.logo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in h3{
    margin: 1% 0%;
}

.sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373867;
    margin: 2% 0%;
    width: 100%;
}

.sign-in h3{
    margin: 2% 0%;
}

.sign-in form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0%;
}

.sign-in form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign-in form span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside div button{
    border-radius: 5px;
    background-color: #49A37B;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 50px;
}