main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1.5% 0%;
}

.logo img{
    align-self: center;
    width: 60px;
    height: 60px;
}

.logo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recover-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373867;
    margin: 1.5% 0% 15% 0%;
    width: 100%;
}

.recover-password h3{
    margin: 1% 0%;
}

.recover-password form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recover-password form{
    margin: 1% 0%;
    width: 30%;
}

.recover-password form label{
    margin: 1% 0%;
}

.recover-password form input{
    width: 100%;
    margin: 1% 0%;
}

.recover-password form input[type=submit]{
    align-self: center;
    width: 30%;
}

@media(max-width:768px){
    .search-field{
        width: 250px;
        height: 50px;
    }
    
    .search-submit{
        width: 50px;
        height: 50px;
    }

    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .recover-password form{
        width: 80%;
    }
}

@media(max-width:480px){
    body{
        overflow-x:hidden;
    }

    header nav,
    .search-field{
        display: none;
    }

    .burguer-btn{
        order:1;
    }

    .search-bar{
        order:3;
    }

    .search-submit{
        background-color: transparent;
        border-style: hidden;
        filter: invert(100%);
    }
    
    .access{
        order:2;
    }

    .logo img{
        margin:0%;
    }
}