body{
    font: 100%/1.5;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font: 300%/1.5 'Roboto', sans-serif, bolder;
}

h2{
    font: 200%/1.25 'Roboto', sans-serif, bolder;
}

h3{
    font: 175%/1 'Roboto', sans-serif, bold;
}

h4{
    font: 150%/1 'Roboto', sans-serif, bold;
    margin-bottom: 2%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    background-color: #808080;
}

button:hover{
    background-color: #808080;
}

.green-button{
    border-radius: 5px;
    background-color: #49A37B;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

.light-green-button{
    background-color: #AACE9B;
    border-style: none;
    border-radius: 5px;
    font: 100%/1.5 'Roboto', sans-serif;