<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix | Log in</title>
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="icon" href="../assets/favicon.ico">
    </head>
    <body>
        <header aria-label="Header">
            <div class="burguer-btn" aria-label="Burguer button">
                <input type="image" src="../assets/burguer-button.png" alt="open menu"/>
            </div>
            <nav aria-label="Navigation">
                <a href="/tutorials">Tutorials</a>&nbsp;|&nbsp;<a href="/contact">Contact</a>
            </nav>
            <form class="search-bar" aria-label="Search">
                <input type="text" placeholder="Search" class="search-field" aria-label="Search bar">
                <input type="image" src="../assets/magnifying-glass.ico" class="search-submit" aria-label="Submit search"/>
            </form>
            <div class=access aria-label="Home">
                <button type="button" class="home-button">Home</button>
            </div>
        </header>
        <main aria-label="Main content">
            <section class="container logo" aria-hidden="true">
                <img src="../assets/trackgenix-logo.svg" alt="">
                <div>
                    <h1>TRACKGENIX</h1>
                    <h2>DATA&nbsp;MANAGEMENT</h2>
                </div>
            </section>
            <section class="container sign-in" aria-label="Sign in">
                <h3 aria-hidden="true">Sign in</h3>
                <form aria-label="Enter your credentials">
                    <div class="form-left" aria-label="Mandatory fields">
                        <label>Email</label>
                        <input required type="email" name="email" placeholder="Click here to enter your Email">
                        <label>Password</label>
                        <input required type="password" name="fullName" placeholder="Click here to enter your password">
                    </div>
                    <div class="form-left" aria-label="Do you want the site to remember your credentials?">
                        <input type="checkbox" value="lsRememberMe" class="rememberMe" aria-label="click here for 'yes'">
                        <label>Remember me</label>
                    </div>
                    <div class="form-right" aria-label="Forgot your password?">
                        <a href="/password-recovery">Forgot your password?</a>
                    </div>
                    <div>
                        <button type="button">Log in</button>
                    </div>
                </form>
            </section>
        </main>
        <footer aria-label="Footer">
            <div class="container social-media" aria-label="Our social media">
                <a href="https://www.linkedin.com/trackgenix" target="_blank"><img src="../assets/linkedin-logo.svg" alt="visit our linkedin"/></a>
                <a href="https://www.twitter.com/trackgenix" target="_blank"><img src="../assets/twitter-logo.svg" alt="visit our twitter"/></a>
                <a href="https://www.facebook.com/trackgenix" target="_blank"><img src="../assets/facebook-logo.svg" alt="visit our facebook"/></a>
                <a href="https://www.instagram.com/trackgenix" target="_blank"><img src="../assets/instagram-logo.svg" alt="visit our instagram"/></a>
                <a href="https://www.github.com/trackgenix" target="_blank"><img src="../assets/github-logo.png" alt="visit our github"/></a>
            </div>
            <div class="footer-address" aria-label="Copyright">
                <address>
                    <p>
                        Montevideo, Uruguay
                    </p>
                    <p>
                        Copyright 2022 Radium Rocket. All rights reserved.
                    </p>
                </address>
            </div>
        </footer>
    </body>
</html>