*{
    position:relative;
    margin:0;
    padding:0;
    }
    a{
        color:#000;
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
    a:hover{
        background-color:#808080;
    }
    aside li{
        text-align: justify;
        margin: 3% 0;
    }
    #main{
        top:0;
        right:0;
        padding-left:3%;
        padding-right:3%;
        margin-left:22%;
        width:78%;
        height:76%;
    }
    #header{
        top:0;
        background-color:#50A780;
        height:3%;
        width:100%;
        text-align: center;
        overflow: auto;
        z-index: 1;
    }
    #sidebar{
        top:0;
        left:0;
        z-index: 0;
        display: inline-block;
        padding:3%;
        width:22%;
        height:100%;
        background:linear-gradient(#50A780,#fff 80%);
        text-align: left;
        overflow: auto;
    }
    #sidebar button{
        border-radius:5px;
        border-color:#000;
        border:2px;
        background-color:#49A37B;
        color: #fff;
    }
    #sidebar h3{
        text-decoration: underline;
        text-decoration-color:#ED2626;
    }
    #logo{
        padding-left:10%;
        padding-top:2%;
        padding-bottom:2%;
        display: block;
        text-align: justify;
    }
    #logo img{
        float:left;
        width:60px;
        height:60px;
    }
    #landing-general img{
        float:left;
        margin-left: 13%;
        display: block;
    }
    #landing-general{
        text-align: justify;
        text-overflow: auto;
        margin-right:13%;
        margin-bottom:2%;
    }
    #landing-spotlight{
        text-align: center;
        margin-left:13%;
        margin-right:13%;
    }
    #landing-know-more{
        text-align: center;
        float:center;
        table-layout:fixed;
        margin:auto;
        width: fit-content;
        margin-left: 13%;
        margin-right: 13%;
    }
    #landing-about-us{
        padding:2%;
        background-color:#E9E9E9;
        border-radius: 20px;
        text-align: justify;
        margin-left: 13%;
        margin-right: 13%;
    }
    #landing-about-us img{
        overflow:auto;
    }
    #landing-form{
        position: relative;
        display: inline-block;
        width: 60%;
        height: 10%;
        padding: 10%;
        padding-top: 5%;
        margin-left: 13%;
        margin-right: 13%;
    }
    #landing-bottom-table{
        text-align: center;
        float:center;
        table-layout:fixed;
        margin:auto;
        background-color:#50A780;
        height:11%;
        width: fit-content;
    }
    #landing-bottom-table{
        color:#DBDBDB;
        border-collapse: collapse;
        z-index:1;
        position:relative;
        height:11%;
    }
    #landing-bottom-table tr{ 
        border: none;
    }
    #landing-bottom-table td {
        border-right: solid 1px #000; 
        border-left: solid 1px #000;
    }
    #footer{
        box-align:bottom;
        height:10%;
        text-align: center;
    }
    #social-media img{
        width:  50px;
        height: 50px;
        object-fit: cover;
    }
    .menu-btn{
        background-color: transparent;
        border:none;
        width:42px;
        height:42px;
    }
    .search-bar{
        border-radius: 200px;
        background-color: #fff;
        border:none;
        height:66%;
    }
    .search-btn img{
        border-radius: 200px;
        border:none;
        width:42px;
        height:42px;
    }
    .login-btn{
        border-radius: 200px;
        background-color: #fff;
        border:none;
        width:3%;
        height:66%;
    }
    .signup-btn{
        border-radius: 200px;
        background-color: #fff;
        border:none;
        width:3%;
        height:66%;
    }
    .about-us-img1{
        position: relative;
        margin-left:0%;
    }
    .about-us-img2{
        position: relative;
        height:20%;
        width: 50%;
        margin-left:50%;
    }